@charset "utf-8";
/* CSS Document */
.txt_note {
    color: #ff0000;
}
.filter .btn_tim{
	background:url(images/buttons/btn_tim_smaill.gif) no-repeat left top;
	color:#fff;
	font:700 12px arial;
}

body
{
	
}

#menu_hutech
{
	text-align:right;
}

#wrapper_header{
	background:url(images/banner/bg.jpg) repeat-x left top;
}
#wrapper_header .banner{
	background:url(images/banner/banner.jpg) no-repeat left top;
}
#wrapper_footer{

}
#wrapper_content{
	padding:5px 0 0 0;
}
#main_footer{
	background:none;
	height:80px;
	border-top:1px solid #cccccc;
}
#site_menu .content_menu li:hover > ul{visibility:visible;}
#site_menu .content_menu ul{width:130px;visibility:hidden;position:absolute;top:100%;left:0;z-index:9999}
.content_menu ul li a{display:block;height:33px;font:700 11px/33px arial;padding:0 10px;width:130px;background-color:#208ab1;color:#000;}
#ulsubmenu2 a:hover{color:#000!important;}

#site_menu .content_menu li:hover > ul{visibility:visible;}
#site_menu .content_menu ul.ulmenu3{margin-left: 150px;margin-top:0px;top:0px;width:150px;position:absolute;visibility:hidden;}
#site_menu .content_menu ul.ulmenu3 a{width:150px;text-transform:none;}
#site_menu{
	width:990px;
	height:33px;
	padding:1px 0 0 0;
	background:url(images/banner/menu.gif) repeat-x;
	margin-top:1px;
}
.menu_left{
}
.menu_right{
}
#site_menu .content_menu {
	width:990px;
	float:left;
}
#site_menu .content_menu li{
	float:left;
	height:33px;

	position:relative;
}
#site_menu .content_menu li.end{
	background:none;
}
#site_menu .content_menu li a{
	color:#fff;
	display:block;
	height:33px;
	padding:0 15px;
	text-transform:uppercase;
	font:700 11px/33px arial;
	float:left;
	white-space:nowrap;
}
#site_menu .content_menu li a:hover{
	text-decoration:none;
	color:#FFFF00;
}
#site_menu .content_menu li a.active{
	color:#FFFF00;
}
.cate .content_cate li span.txt_note,
.cate .content_cate li ul.subcate li span.txt_note {
	font-weight:400;
	font-size:11px;
	margin:0;
	float:none;
	padding:0;
	display:inline;
	background:none;
}
#site_menu .submenu{
	position:absolute;
	top:33px;
	z-index:999;
	display:none;
	width:150px;
}
#site_menu .submenu ul{
	width:150px;
	float:left;
}
#site_menu .submenu li{
	background:url(images/graphics/bg_1x33.gif) repeat-x left top;
	width:150px;
	float:left;
}
#site_menu .submenu li a{
	display:block;
	height:33px;
	font:700 11px/33px arial;
	padding:0 10px;
	width:130px;
	background:#2089b0;
}
.search_bar{
	width:280px;
	float:right;
	padding:6px 10px 0 20px;
	height:26px;
	margin:1px 0 0 0;
	display:inline;
}
.search_bar .txt_search{
	padding:3px 0 3px 5px;
	width:209px;
	float:left;
	line-height:13px;
}
.search_bar select{
	float:left;
	margin:0px 0 0 0;
	display:inline;
	height:22px;
	line-height:18px;
	width:80px;
	font-size:13px
}
.search_bar .btn_search{
	height:21px;
	width:62px;
	float:left;
	background:url(images/graphics/icon_search.gif) no-repeat  left top;
	cursor:pointer;
	border:none;
}

.search_bar .btn_search.active{
	background:url(images/graphics/icon_search_active.gif) no-repeat left top;
}
.content_top{
	display:none;
}
.content_top .bor_left{
	background:url(images/graphics/bg_bor_top.gif) no-repeat left 0px;
}
.content_top .bor_right{
	background:url(images/graphics/bg_bor_top.gif) no-repeat right bottom;
}
.content_bottom{
	display:none;
}
.content_bottom .bor_left{
	background:url(images/graphics/bg_bor_bottom.gif) no-repeat left 0px;
}
.content_bottom .bor_right{
	background:url(images/graphics/bg_bor_bottom.gif) no-repeat right bottom;
}
.content_mid{
	background:#fff;
}
#main_search{
	background:url(images/graphics/bg_main_search.gif) no-repeat left top;
}
#box_tailieu_hot{
	background:url(images/graphics/bg_680x230.gif) no-repeat left top;
}
.cate .title_cate{
	background:url(images/graphics/bg_200x32.gif) no-repeat left top;
	font:700 15px arial;
	height:32px;
	padding:0 0 0 5px;
}
.cate .title_cate .txt_link{
	color:#ffffff;
	line-height:32px;

}
.cate .content_cate{
	width:198px;
	float:left;
	background:#f4f4f4;
	border-right:1px solid #cac8c8;
	border-left:1px solid #cac8c8;
}
.cate .content_cate li{
	width:198px;
}
.cate .content_cate li a{
	width:193px;
}
.bottom_cate{
	width:200px;
	float:left;
	height:3px;
	line-height:0;
	font-size:0;
	background:url(images/graphics/bg_bottom_200x3.gif) no-repeat left top;
}
.cate .content_cate li{
	background:none;
}
.cate .content_cate li .ico02{
	background:url(images/graphics/bg_arrow_menu.gif) no-repeat 0px 8px;
	padding:0 0 0 0;
	width:9px;
	height:22px;
}
#box_tailieu_hot .title_box .dot li span{
	display:block;
	height:8px;
	width:8px;
	background:#666666;
	line-height:0;
	font-size:0;
	float:left;
}
#box_tailieu_hot .title_box .dot li.active span{
	background:#ffa000	;
}
.slide_item li{
	background:url(images/graphics/bg_143x173.gif) no-repeat left top;
}
.cate .content_cate li a{
	color:#013d86;
}
.cate .content_cate li ul.subcate li a{
	color:#333333;
	font-weight:400;
}
.cate .content_cate li a:hover{
	text-decoration:none;
	background:#e3e6e8;
}
.cate .content_cate li.active a{
	background:#d6d9db;
}
.cate .content_cate li ul.subcate li,
.cate .content_cate li.active ul.subcate li a{
	background:none;
}

.cate .content_cate li.active ul.subcate li a:hover{
	background:#ebebeb repeat left top;
}
.cate .content_cate li ul.subcate li.active a{
	background:#ebebeb;
}
.cate .content_cate li ul.subcate li span{
	background:url(images/graphics/arrow_dot.gif) no-repeat 2px 8px;
	padding:0 0 0 0;
	width:9px;
	height:22px;
	margin-left: 9px;
}

#box_login .login_input li .btn_dangnhap{
	background:url(images/buttons/btn_dangnhap.gif) no-repeat left top;
}
.box_da_login{

	float:left;
}
.box_da_login li{
	float:left;
	width:115px;
	border-bottom:1px solid  #cccccc;
	padding:10px 0 10px 10px;
	margin:0 10px;
	display:inline;
	background:url(images/graphics/dot_7x7.gif) no-repeat left 15px;
	height:13px;
}
.box_da_login li.end{
	border:none;
	height:14px;
}
#box_list_tailieu .txt_search_book{
	background:url(images/graphics/bg_156x24.gif) no-repeat left top;
}
.btn_search_book{
	background:url(images/graphics/icon_search_book.gif) no-repeat left top;

}
.upload .btn_upload{
	background:url(images/buttons/btn_upload.gif) no-repeat  left top;
}
.title_col_right_200{
	background:url(images/graphics/bg_top_col_right_200.gif) no-repeat left top;
}
.bottom_col_right_200{
	background:url(images/graphics/bg_bottom_col_right_200.gif) no-repeat left top;
}
#col_left .box_200{
	margin-bottom:10px;
	display:inline;
}
#col_left .box_200 .title_box{
	height:26px;
	float:left;
	width:180px;
	background:url(images/graphics/bg_200x36.gif) no-repeat left top;
	padding:10px 0 0 20px;
	text-transform:uppercase;
	font:700 12px/20px arial;
}
#col_left .box_200 .title_box .ico04{
	background-position:-66px 0;
	height:17px;
	width:20px;
	display:block;
	padding-right:5px;
}
#col_left .box_200 .title_box .ico05{
	background-position:-92px 0;
	height:20px;
	width:22px;
	display:block;
	padding-right:5px;
}
#col_left .box_200 .content_box{
	width:198px;
	float:left;
	border-right:1px solid #cac8c8;
	border-left:1px solid #cac8c8;
	padding-bottom:10px;
}
#col_left .box_200 .content_box .txt_center{
	text-align:center;
	font:700 12px arial;
	padding:10px 0 0 0;
}
#col_left .box_200 .bottom_box{
	width:200px;
	float:left;
	height:3px;
	float:left;
	font-size:0;
	line-height:0;
	background:url(images/graphics/bg_bottom_200x3_box200.gif) no-repeat left top;
}
#box_search_book_result li .right .btn_download{
	width:63px;
	float:right;
	display:block;
	height:20px;
	padding:0 0 0 30px;
	font:700 11px/20px arial;
	background:url(images/graphics/btn_download.gif) no-repeat left top;
	margin:10px 0px 0 0;
}
#box_search_book_result li .right .btn_download:hover{
	text-decoration:none
}
#box_list_tailieu .title_box_common ul.left li img{
	background:url(images/graphics/arrow_white_7x6.gif) no-repeat left top;
	margin:10px 0 0 0;
}
.box680 .title_box_common ul.left li a{
	font:700 12px/22px arial;
	height:22px;
}
.box680 .title_box_common ul.left li a span{
	height:22px;
	line-height:22px;
}
.box680 .title_box_common ul.left li.active a{
	background:url(images/graphics/bg_active_300x25.gif) no-repeat left bottom;
	height:22px;
	line-height:22px;
	color:#505050;
}
.box680 .title_box_common ul.left li a.more{
	width:51px;
}
.box680 .title_box_common ul.left li.active a span{
	background:url(images/graphics/bg_active_300x25.gif) no-repeat right top;
	color:#0274ad;
		color:#505050;
}
.middle_col_right_200{
	width:194px;
	padding:1px 3px;
	background:#e9e9e9;
}
.middle_col_right_200 .title_box_common{
	background:url(images/graphics/bg_194x30.gif) no-repeat left bottom;
}
.middle_col_right_200 .title_box_common .title_common_left{
	background:url(images/graphics/bg_194x30.gif) no-repeat right top;
	color:#0480cc;
}
.bottom_box_common{
	width:194px;
	float:left;
	height:3px;
	line-height:3px;
	font-size:0;
	background:url(images/graphics/bg_bottom_194x3.gif) no-repeat left top;
}
.content_tailieu_hot{
	width:196px;
	float:left;

}
.content_tailieu_hot li{
	width:184px;
	float:left;
	padding:10px 0 10px 10px;
}
.content_tailieu_hot li.chan{
	background:#f6f6f6;
}
.content_tailieu_hot li a{
	font-size:11px;
}
.content_tailieu_hot li img{
	float:left;
	padding:4px;
	margin:0 5px 0 0;
	display:inline;
	border:1px solid #cccccc
}
.content_news_hot{
	width:196px;
	float:left;

}
.content_news_hot li{
	width:166px;
	float:left;
	padding:10px 10px 4px 10px;
	background:url(images/graphics/bg_dot_6x7.gif) no-repeat left 15px;
	margin:0 0 0 10px;
	display:inline;
}
.content_news_hot li.chan{
	background:#f6f6f6;
}
.content_news_hot li a{

}
.content_news_hot li img{
	float:left;
	padding:4px;
	margin:0 5px 0 0;
	display:inline;
	border:1px solid #cccccc
}
#box_binhluan .title_box_binhluan{
	width:768px;
	float:left;
	height:30px;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ececec;
	background:#f1f1f1;
}
#box_binhluan .content_box_common{
	padding-bottom:1px;
	float:left;
	width:768px;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:none;
	border-bottom:1px solid #cccccc;
}
#box_binhluan .title_box_binhluan .left a{
	padding:0 0 0 15px;
	background:url(images/graphics/bg_arrow_10x6.gif) no-repeat left 3px;
}
#box_binhluan .title_box_binhluan .left a.active{
	background:url(images/graphics/bg_arrow_6x10.gif) no-repeat 3px 2px;

}
.site_cate li .ico02{
	background:url(images/icons/icon_home.gif) no-repeat left top;
}
#book_details .list_news_more li{

	background:url(images/graphics/bg_arrow_3x4.gif) no-repeat left 5px;

}
#tailieulienquan .title_box_binhluan{
	width:768px;
	float:left;
	height:30px;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ececec;
	background:#f1f1f1;
}
#tailieulienquan .content_box_common{
	padding-bottom:1px;
	float:left;
	width:768px;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:none;
	border-bottom:1px solid #cccccc;
}
#tailieulienquan .title_box_binhluan .left a{
	padding:0 0 0 15px;
	background:url(images/graphics/bg_arrow_10x6.gif) no-repeat left 3px;
}
#tailieulienquan .title_box_binhluan .left a.active{
	background:url(images/graphics/bg_arrow_6x10.gif) no-repeat 3px 2px;
}
#tailieulienquan{
	width:770px;
	margin-bottom:10px;
	float:left;
}
#tailieulienquan ul{
}
#tailieulienquan li{
	width:92px;
	margin:10px 0 0 30px;
	padding:0 0 10px 0;
	float:left;
	display:inline;
}
#tailieulienquan li .img_book{
	background:url(images/graphics/bg_book.gif) no-repeat right top;
	padding:5px 9px 10px 5px;
	height:100px;
	width:78px;
	float:left;
}
#box_search_main_result .title_box_common,
#box_search_main_result .title_common_left{
	height:31px;
}

#box_search_main_result .title_box_common{
	background:url(images/graphics/bg_title_main_search.gif) no-repeat left bottom;
}
#box_search_main_result .title_box_common .title_common_left a span{
	color:#00518a;
}
#box_search_main_result .title_box_common .title_common_left{
	background:url(images/graphics/bg_title_main_search.gif) no-repeat right top;
}
#box_search_main_result .title_box_common ul.left li.active a{
	background:url(images/graphics/bg_active_300x44.gif) no-repeat left bottom;
	height:22px;
	line-height:22px;
	color:#fff;
}
#box_search_main_result .title_box_common ul.left li.active a span{
	background:url(images/graphics/bg_active_300x44.gif) no-repeat right top;
	color:#fff;
}
#box_tag.w200{
	width:194px;
}
#box_tailieu_hot .title_box {
    color: #399abd;
}

.title_box_common ul.left li  .subli{
	background-color:#399abd;
}

.txt_link_tl {
    color: #FFFFFF;
    line-height: 32px;
    background: url("images/graphics/img_tailieu2.png") no-repeat scroll right center transparent;
}
.title_box_common {
    background: url("images/graphics/bg_title_commin.gif") no-repeat scroll left -30px transparent;
}
.title_box_common .title_common_left {
    background: url("images/graphics/bg_title_commin.gif") no-repeat scroll right top transparent;
}
#active{
	font-weight: bold!important;
}
#active2{
	font-weight: bold!important;
}
.tlvn{color:#FFF;}